<div class="modal fade" id="reason-modal" tabindex="-1" role="dialog" aria-labelledby="reasonModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="reasonModal">Reject confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <label>Are you sure you want to reject this photo?</label>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Please give reason:</label>
            <textarea class="form-control" id="reason-text"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id='confirm'>Confirm</button>
      </div>
    </div>
  </div>
</div>
