.login-view{
  padding:10px;
  margin:auto;
  width: 450px;
  border: 1px solid #ccc;
  overflow: auto;
}

.login-view .logo{
  margin: 0 auto;
  width:50%;
  text-align: center;
}

.navbar-header{
  margin-left: 100px !important;
}

#map{
  height: 350px;
}


.navbar-brand{
  margin-left: 15px !important;
}

.navbar-right{
  margin-right: 100px !important;
}
